venv
build
*.charm
.tox
.coverage
__pycache__/
*.py[cod]
.idea
.vscode
version
cover

# Managed by repository.py
.charmhub.secret
_build
external

# Managed by Charmcraft
**/lib/charms/*

# Managed by uv
.venv
.ruff_cache
.pytest_cache
requirements.txt
dev-requirements.txt

# Managed by Terraform

.terraform
.terraform.lock.hcl
*.tfstate*
